.wrap {
    width: 1280px;
    margin: 0 auto;
    h1 {
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 40px;
    }
    h6 {
        font-size: 24px;
        margin-bottom: 20px;
    }

}

.intro {
    background-color: #fef9ec;
    padding: 120px 0;
    text-align: center;
}